
.margemtopo {
    height: 35px;
    width: 1270px;
    position: relative;
    top: 30px;
    overflow: hidden;
    background-color: #428bca;
}


.imgAbrantes {
    width: 350px;
    height: 350px;
    display: block;
    margin-block-start: 20px;
    margin-inline: 435px;
    justify-content: center;
    border-radius: 30cm;
    overflow: hidden;
    border: 14px solid #428bca
    
}


.imgSeta {
    width: 140px;
    float: left;
    margin-right: 20px;
    position: relative;
    left: 40px;
    
}

h1 {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-left: 53px;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-color: black;
    color: #f1af00ff;
}
 
h3 {
    font-size: 25px;
    position: relative;
    left: 40px  ;
}

p {
    width: 600px;
    overflow: hidden;
    position: absolute;
    left: 310;
}

li { 
    font-size: 16px;
    position: relative;
    left: 39px;
}

.h21, p {
    display: inline-block;
}

.h21 {
    clear: left;
    position: relative;
    left: 57px;
}

.p1,.p2 {
    margin-left: 240px;
}

.h22 {
 margin-top: 200px;
margin-left: 217px
 ;
}

.p2 {
 margin-top: -50px;
}

.h23 {
    clear: left;
    position: relative;
    left: 60px;
    margin-top: 200px;
    margin-left: 157px
}

.p3 {
    margin-left: 237px;
    margin-top: -50px;
}

.aComputacaoraiz {
  float: left;
  position: relative;
    margin-left: 20px;
   margin-right: 10px;
    font-size: 20px;
    color: white;
}

.aApexoracle {
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

.botaomensagem{
    float: right;
    margin-top: 50px;
    background-color: #428bca;
    width: 220px;
    height: 40px;
    border-radius: 30px;
    overflow: hidden;
}

.aEmailprof{
    float: right;
    font-size: 18px;
    position: relative;
    right: 179px;
    top: 60px;
    overflow: hidden;
    color: white;
}

.aOracleacademy {
    position: relative;
    font-size: 20px;
    width: 187px;
    margin-left: 10px;
    color: white;
    
}

.portaluvv{
    position: relative;
    overflow: hidden;
    display: inline-block;
}